* {
	padding: 0;
	margin: 0;
}

body {
	background-color: yellow;
	padding-bottom: 60px;
}

.title {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 7em;
	margin: 0;
	clear: both;
	margin-bottom: 15px;
}

img {
	margin: 0 auto;
	display: block;
}

.nav {
	height: 35px;
	background-color: black;
	width: 100%;
	margin: 0;
	color: white;
}

.nav-title {
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
}

.nav-link {
	color: white;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 28px;	
	padding-right: 15px;
}

.nav-links {
	display: inline-flex;
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	float: right;
	list-style: none;
}

.text_container {
	/*background-color: black;*/
	/*color: white;*/
	width:50%;
	margin: 2em auto;
	/*border: 1px solid black;*/
	padding: .5em;
}

.text_container a{
	color: black;
}

.text_container a:hover{
	color: lightblue;
}

.text_container p{
	font-size: 115%;
	display: inline-block;
}

.text_container p span{
	font-size: 80%;
	display: inline-block;
}

.arrows {
	font-size: 75%;
}

.up {
	padding-top: .5em;
}

.down {
	padding-bottom: .5em;
	width: 50%;
	border-bottom: 1px solid black;
}

.down {
	padding-bottom: .5em;
	width: 50%;
}

.image_arrows {
	display: inline-block;
}

.image_container {
	display: inline-block;
	margin: 0;
	text-align: center;
}

.super_container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;	
}

.lesser_container {
	margin: 0 auto;
}
