* {
	padding: 0;
	margin: 0;
}

body {
	background-color: yellow;
	padding-bottom: 60px;
}

.title {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 7em;
	margin: 0;
	clear: both;
	margin-bottom: 15px;
}

img {
	margin: 0 auto;
	display: block;
}

.nav {
	height: 35px;
	background-color: black;
	width: 100%;
	margin: 0;
	color: white;
}

.nav-title {
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
}

.nav-link {
	color: white;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 28px;	
	padding-right: 15px;
}

.nav-links {
	display: inline-flex;
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	float: right;
	list-style: none;
}
